* {
	font-family: Helvetica, Arial , sans-serif;
}

body{
	padding: 60px;
}

input{
	color: gray;
	font-size: 1.2rem;
	width: 100%;
}

.card{
	align-content: center;
	border: 1px solid gray;
	border-radius: 6px;
	margin-bottom: 10px;
	margin-right: 10px;
	overflow: hidden;
	width: auto;
	min-width: 100px;
}

/* .card .body {
	border-bottom: 1px solid gray;
} */
.card .body img{
	width: auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .card .header {
	border-bottom: 1px solid gray;
}
.card .footer{
	border-bottom: 1px solid gray;
} */

.grid{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}